<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="logo.png" sizes="100x100"/>
 <title>One Place To Book Your Smile - ToDoist</title>
  <link href="style1.css" rel="stylesheet" type="text/css" />
  <link href="utils.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header class="containerHeader">
    <nav class="flex space-between">
      <div class="left flex items-center">
  <img src="logo.png" />
        <ul class="flex items-center justify-center uppercase semibold ">
          <li>Men</li>
          <li>Women</li>
          <li>Kids</li>
          <li>Home and Living</li>
          <li>Beauty</li>
          <li>Studio</li>
        </ul>
      </div>
      <div class="right flex items-center">
        <input class="search" placeholder="Search for events, organisers and more" class="desktop-searchBar" value="" data-reactid="904">
        <div class="rightBox">
        <div class="profile mx-2">Profile</div>
        <div class="wishlist mx-2">WishList</div>
        <div class="bag mx-2">Bag</div>
          </div>
      </div>
    </nav>
  </header>
  <section class="container section1">
   <img class="homeImg" src="home.png"/>
    <img class="homeImg" src="home1.png"/>
  </section>
  <section class="container section1 flex flex-wrap">
    <img class="itemImg" src="1.png"/>
    <img class="itemImg" src="2.png"/>
    <img class="itemImg" src="3.png"/>
    <img class="itemImg" src="4.png"/>
    </section>
    <section class="container section1">
       <img class="homeImg" src="home2.jpg"/>
     </section>
  
  <footer >
    Copyright &copy; todoist.com | All rights reserved
  </footer>
  <script src="script.js"></script>
</body>

</html>